/* Set the root colors */

:root {
    --primary: #625d67;
    --secodary: #0f0e19;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--primary);
    background-color: var(--secodary);
    user-select: none;
}

.packet-details .detail {
    cursor: help !important;
}
.processing .packet-details .detail {
    cursor: wait !important;
}

body.processing {
    cursor: wait !important;
}

.hidden {
    display: none !important;
}

img {
    transform: scale(5);

    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    /* image-rendering: moz; */
}

#loader {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secodary);
}

/* Game stuffs */
#game {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#game > * {
    width: 25%;
    height: 92%;
}

.ui {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.controls {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.controls > div {
    float: left;
    width: 17%;
    text-align: right;

    /* cursor: pointer; */
    color: white;
}

.social {
    color: var(--primary);
}
.social a {
    text-decoration: none;
    color: white;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    /* width: 100%; */
    height: 100%;
    background-color: var(--secodary);
}

fieldset {
    border: 1px solid var(--primary);
}

.packet-info {
    margin-bottom: 25px;
}

.packet-info .details {
    border-color: transparent;
    border-top-color: var(--primary);
}

.packet-info .packet-details .detail {
    margin-bottom: 17px;
}

.packet-info .packet-details span {
    padding: 4px;
    color: var(--secodary);
    background-color: var(--primary);
}

.packet-info .packet-details .detail:hover span {
    color: white;
}

.packet-info .packet-details span:empty {
    background-color: transparent;
}

.action {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.action .btn {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.manual {
    display: flex;
    align-items: center;
    justify-content: center;
}

.manual .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    width: 34%;
}

.manual .btn :first-child {
    margin-bottom: 20px;

    /* clear:both; */
}

.btn:hover {
    color: white;
}

.controls span,
.packet-info .packet-details .detail,
.btn,
.menu-container {
    cursor: pointer;
}

#manual {
    background-color: var(--secodary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    /* width: 100%; */
    height: 100%;
    z-index: 10;
}

#manual fieldset {
    position: relative;
}

#manual .closer {
    font-family: sans-serif;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 4px;
    color: white;
}

#manual h2 {
    color: white;
    text-decoration: underline;
    font-size: 1em;
}